# ignore .git and .cache folders
.git
.cache
logs
TODO
# ignore all .ini files besides config.ini
*.ini
!config.ini

.git
.gitignore
node_modules
npm-debug.log
Dockerfile*
docker-compose*
README.md
LICENSE
.vscode